<div class="container-fluid home-container">
  <div class="row task-container">
    <div class="text-center col-md-2 tasklist-container">
      <app-tasklist (click)="taskview.getDataContent()"></app-tasklist>
    </div>
    <div class="text-center col-md-10 taskactivity-container">
      <div class="row taskstatus-container">
        <app-taskstatus #taskstatus></app-taskstatus>
      </div>

      <div class="row taskview-container">
        <app-taskview #taskview  (click)="taskstatus.getTaskStatus()"></app-taskview>
      </div>
      <div class="row taskreset-container">
        <app-taskreset (click)="taskstatus.getTaskStatus()"></app-taskreset>
      </div>

    </div>
  </div>
</div>
